@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
p {
  margin: 0;
}

/*----------------------------Menu------------------------*/
.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: space-around;
  flex-direction: row;
  gap: 7rem;
  padding: 5px;
  align-items: center;
  background-color: #fff;
  border-bottom: 0.5px solid rgba(180, 181, 182, 0.4980392157);
  z-index: 1;
}
.nav-menu .menu-sm {
  float: right;
  margin: 0px;
}
.nav-menu .menu-sm #btn-regis {
  background-color: #3bbb55;
  color: white;
  padding: 0.5rem;
  font-size: 15px;
  border-radius: 10px;
  transition: all 500ms;
}
.nav-menu .menu-sm #btn-regis:hover {
  transform: scale(1.1);
}
.nav-menu .menu-sm li {
  display: inline;
  float: right;
  list-style: none;
  margin: 0.5rem 1rem;
  font-weight: 500;
  font-size: 15px;
  padding-top: 0.5rem;
}
.nav-menu .menu-sm li a {
  text-decoration: none;
  color: #3E86F5;
}
.nav-menu .menu-sm .active {
  border-bottom: 2px solid #3E86F5;
  border-radius: 1px;
}

.logo, .logo-2 {
  font-weight: 500;
  font-size: 2rem;
  color: #004C79 !important;
  font-weight: 600;
  margin-top: 0.5rem;
}

.logo-2 {
  margin: 0rem;
  padding: 0;
}

#p-elegant {
  font-size: 14px;
  margin-top: 0.5rem;
  font-weight: 100;
}

.card-ofert {
  width: 280px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1843137255);
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  transition: all 500ms;
}
.card-ofert:hover {
  transform: scale(1.2);
}
.card-ofert img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}
.card-ofert .inform {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
}
.card-ofert .inform p {
  margin: 0;
  font-size: 10px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.5333333333);
  font-weight: medium;
}
.card-ofert .card-fo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 15px;
}
.card-ofert .card-fo h3 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.card-ofert .card-fo .sub-fo {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 70px;
}
.card-ofert .card-fo .sub-fo .reservetion {
  padding: 0.5rem;
  font-size: 10px;
  font-weight: 600;
  border: none;
  background-color: #F2F6FF;
  color: #3E86F5;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.banner .ban {
  width: 80%;
  height: 75%;
  background-color: #3E86F5;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.268) 0%, rgba(10, 10, 10, 0.268) 100%), url(../assets/img/al-atardecer-playa-tropical-mar-palmera-coco.jpg);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
}
.banner .ban h2 {
  color: white;
  text-align: center;
  width: 80%;
  font-weight: 600;
  font-size: 40px;
}

.relax, .adventure {
  font-size: 10px;
  color: #0055ff;
  background-color: #f1f1fd;
  border-radius: 50px;
  height: 15px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adventure {
  background-color: #f1f1fd;
  color: #0e880a;
  width: 55px;
}

.text-shadow {
  text-shadow: 0 0 10px white;
}

/*=======================Botones=====================*/
.btn-normal {
  font-size: 20px;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 6px #fd9662;
  border-radius: 10px;
  font-weight: 300;
  transition: all 1s;
}
.btn-normal:hover {
  box-shadow: 0 0 15px #F46B27;
  transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
}

.btn-secundario {
  font-size: 20px;
  border: none;
  color: #3E86F5;
  text-decoration: none;
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 6px #ffffff;
  border-radius: 10px;
  font-weight: 500;
  transition: all 1s;
}
.btn-secundario:hover {
  box-shadow: 0 0 10px white;
  transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
}

.btn-a, .btn-a-up {
  font-size: 1.3rem;
  border: none;
  text-decoration: none;
  color: white;
  background-color: #3bbb55;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 6px #3bbb55;
  border-radius: 10px;
  font-weight: 500;
  transition: all 1s;
}
.btn-a:hover, .btn-a-up:hover {
  box-shadow: 0 0 15px #3bbb55;
  transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
}

.btn-a-up {
  background-color: #F46B27;
  box-shadow: 0 0 6px #F46B27;
}
.btn-a-up:hover {
  box-shadow: 0 0 15px #F46B27;
  transform: rotate3d(10 0 1000 1deg) scale(1.1);
}

/*========================Colores=======================*/
.color-verde {
  color: #3bbb55;
}

.color-verde-bg {
  background-color: #3bbb55;
}

.color-azul {
  color: #3E86F5;
}

.color-azul-bg {
  background-color: #3E86F5;
}

.color-atardecer {
  color: #F46B27;
}

.color-atardecer-bg {
  background-color: #F46B27;
}

.color-amarillo {
  color: #FFC107;
}

.color-amarillo-bg {
  background-color: #FFC107;
}

.card {
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 10px;
  transition: all 500ms;
  box-shadow: 0 0 14px rgba(168, 168, 168, 0.523);
  border: none;
}
.card:hover {
  box-shadow: 0 0 14px rgba(244, 107, 39, 0.2901960784);
  transform: scale(1.2);
}
.card img {
  width: 100%;
  height: 209px;
  border-radius: 10px;
}

.descrip-card {
  height: 40%;
  padding: 1rem;
}
.descrip-card h3 {
  font-size: 20px;
}
.descrip-card .descrip-card-sub {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}
.descrip-card .descrip-card-sub .destino {
  font-size: 12px;
  display: flex;
  gap: 5px;
}
.descrip-card .descrip-card-sub .calificacion {
  display: flex;
  font-size: 12px;
}
.descrip-card .descrip-card-sub .precio {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
.descrip-card .descrip-card-sub .precio span {
  font-size: 8px;
}

.destino-descrip-sub, .destino-descrip-sub-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 30px;
  background: url(https://www.delazonaoriental.net/wp-content/uploads/2021/01/flamenco.jpg);
  background-size: cover;
  opacity: 0.9;
}
.destino-descrip-sub div, .destino-descrip-sub-2 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60vw;
}
.destino-descrip-sub div a, .destino-descrip-sub-2 div a {
  align-self: flex-start;
}

.destino-descrip-sub-2 {
  color: black;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  background-image: none;
  background-color: transparent;
}
.destino-descrip-sub-2 .img-ban {
  width: 500px;
  height: 350px;
  border-radius: 30px;
  background-color: black;
  background: url(https://mediospanorama.com/wp-content/uploads/2020/05/Iguana-Rinoceronte-e1589638264728-850x560.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.promo-ban {
  height: 80vh;
  background-color: transparent;
}

.container-g {
  display: flex;
  align-items: center;
  height: 100vh;
}

.photo-g {
  height: 300px;
  background-color: #F46B27;
  flex: 1;
  transition: 0.3s;
  margin: 0 5px;
}
.photo-g:hover {
  flex: 3;
  background-color: #F46B27;
}

/*=============forms===========*/
.content-form {
  position: absolute;
  top: 85vh;
}
.content-form .title-form {
  background-color: white;
  width: 20vw;
  height: 50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.202);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}
.content-form .title-form .div1 {
  background-color: #f46b27;
  font-weight: 700;
  padding: 0.2rem 1rem;
  color: white;
  border-radius: 10px;
}
.content-form .title-form .div p i {
  transform: rotate(30deg);
}
.content-form .form {
  width: 75vw;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  border-top-left-radius: 0px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.202);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content-form .form .-f, .content-form .form .search {
  width: 40%;
  height: 65%;
  border: 2px solid rgba(172, 172, 172, 0.4705882353);
  border-radius: 20px;
}
.content-form .form .search {
  border: none;
  width: 11%;
  background-color: #F46B27;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 500ms;
}
.content-form .form .search:hover {
  transform: scale(1.1);
}
.content-form .form .search i {
  font-size: 40px;
  color: white;
}

.form2, .form1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.cont-f1 {
  padding: 1rem 1rem;
}
.cont-f1 p {
  font-weight: 700;
}

.input {
  border: none;
  width: 135px;
}
.input:focus {
  border: none;
  outline: none;
}
.input:active {
  border: none;
}

.form1 {
  justify-content: space-between;
}
.form1 select {
  border: none;
}

li {
  list-style: none;
}

/*===========Mapa=============*/
.map {
  width: 80%;
  height: 70%;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.149);
  position: absolute;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.map-title {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 35%;
  height: 25%;
  border-radius: 25px;
  top: 100px;
  right: 250px;
  padding: 20px;
}
.map-title p {
  font-size: 17px;
  font-weight: 700;
}
.map-title span {
  padding-top: 100px;
  font-size: 15px;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------Header-----*/
.header {
  background-image: url("../assets/img/cap-cana_003.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 9em;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(https://img.freepik.com/fotos-premium/siluetas-palmeras-coco-sobre-fondo-cielo-mar-azul-al-atardecer_63726-105.jpg?w=1060);
  background-attachment: fixed;
  background-clip: text;
  background-position: center top;
}

body {
  background-color: #F7F7F7;
}

section {
  height: 100vh;
}

.special-ofert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 0 200px;
}
.special-ofert h2 {
  padding: 1rem 0rem;
  text-align: center;
  margin: 0;
}

.sec-opin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-opin h2 {
  position: absolute;
  padding: 20px;
  font-size: 50px;
  font-weight: 500;
  color: #F46B27;
  margin-bottom: 425px;
}

.opinion {
  background-color: rgb(239, 239, 239);
  width: 98%;
  height: 95%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.opinion .messa {
  width: 45%;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 1px rgba(178, 178, 178, 0.474);
  align-items: center;
  justify-content: center;
}
.opinion .messa .text-messa {
  font-size: 15px;
  font-weight: 400;
  width: 80%;
  text-align: center;
  position: relative;
}
.opinion .messa .text-messa span {
  color: #007bff;
  font-size: 20px;
  font-weight: 500;
}
.opinion .messa .user {
  width: 100px;
  height: 90px;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: content-box;
  border-radius: 45%;
  position: absolute;
  margin-top: 270px;
  border-bottom: 1px solid rgb(182, 182, 182);
}
.opinion .messa .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.opinion .messa .user .star {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 14px rgba(213, 213, 213, 0.456);
  position: relative;
  width: 70px;
  left: 70px;
  bottom: 80px;
}
.opinion .messa .user .star span i {
  color: #FFC107;
}

.card-section {
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 3rem;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.photos .p-title {
  position: absolute;
}
.photos .p-title h2 {
  font-size: 325px;
  font-weight: 900;
  color: #F46B27;
  opacity: 0.5;
}
.photos .sect-phot {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  padding: 50px;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .sect-phot {
    flex-direction: column;
    width: 100vw;
  }
}
.about {
  height: 100%;
}
.about .content {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding: 60px;
}
.about .content img {
  width: 50%;
  border-radius: 25px;
}
.about .content .descrip {
  width: 60%;
  margin-left: -35%;
}
.about .content .descrip p {
  text-align: justify;
}

footer {
  padding: 0 130px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/*=================Pagina de destinos===================*/
.header-destino {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}

.destino-descrip-up {
  overflow: hidden;
  height: 88.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-direction: row-reverse;
}

.destino-descrip {
  width: 35%;
}
.destino-descrip h1 {
  font-weight: 600;
  font-size: 44px;
}

.imagen-destino {
  justify-content: center;
  align-items: start;
}
.imagen-destino img {
  width: 400px;
  margin-top: -150px;
}

@media (max-width: 700px) {
  .imagen-destino {
    display: none;
  }
  .destino-descrip {
    width: 90%;
  }
}
.inform-destino {
  background-color: rgba(227, 104, 28, 0.1647058824);
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
}
.inform-destino h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 5rem;
}

.card-section-destino {
  display: flex;
  gap: 2rem;
}

.clasificacion-destino {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1921568627);
  padding: 60px;
}
.clasificacion-destino .clasificacion-destino-sub {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clasificacion-destino .clasificacion-destino-sub h3 {
  font-size: 40px;
  font-weight: 600;
  color: #F46B27;
}

.sec-1 {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-sec {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.content-eco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eco-box {
  width: 90%;
  height: 70%;
}

/*=======Footer=======*/
.footer-bott {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #3E86F5;
  padding: 0 30px;
  color: white;
}
.footer-bott p {
  font-size: 15px;
  font-family: monospace;
}
.footer-bott ul {
  list-style: none;
  margin: 0;
}
.footer-bott ul li {
  transition: all 1s;
}
.footer-bott ul li:hover {
  transform: translate(100px);
  transform: rotate(30deg);
}
.footer-bott ul li a {
  margin-left: 20px;
}
.footer-bott ul li a i {
  font-size: 24px;
  color: white;
  transition: all 500ms;
}
.footer-bott ul li a i:hover {
  box-shadow: 0, 0, 0, 14px black;
}

@media (max-width: 1000px) {
  .footer-bott {
    justify-content: center;
    overflow: hidden;
  }
  .footer-bott ul {
    list-style: none;
    margin: 0;
  }
  .footer-bott ul li {
    display: none;
  }
  .footer-bott ul li a i {
    display: none;
  }
}
.sec-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========================Galeria=================================*/
.header-galery {
  width: 100%;
}

/*=============Sobre nosotros==============*/
.header-about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.header-about h1 {
  color: white;
  font-family: sans-serif;
  font-size: 9em;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../assets/img/bahia-de-las-aguilas-pedernales.jpg);
  background-clip: text;
  background-position: center bottom;
}
.header-about p {
  font-size: 30px;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../assets/img/bahia-de-las-aguilas-pedernales.jpg);
  background-clip: text;
  background-position: center bottom;
}

.sec-about {
  display: flex;
  justify-content: center;
  height: 50vh;
}
.sec-about .content-about {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.img-about {
  display: flex;
  justify-content: center;
}
.img-about img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

/*----Componentes------*/
/*----estilos-globales----*/
/*----Animations----*/

/*# sourceMappingURL=style.css.map */
