@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
p {
  margin: 0;
}

.list {
  list-style: disc;
  font: 16px;
}

/*----------------------------Menu------------------------*/
.nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 11vh;
  justify-content: space-around;
  gap: 7rem;
  padding: 5px;
  align-items: center;
  background-color: #fff;
  border-bottom: 0.5px solid rgba(180, 181, 182, 0.4980392157);
  z-index: 1;
}
.nav-menu .menu-sm {
  float: right;
  margin: 0px;
}
.nav-menu .menu-sm #btn-regis {
  background-color: #3bbb55;
  color: white;
  padding: 0.5rem;
  font-size: 15px;
  border-radius: 5px;
  transition: all 500ms;
}
.nav-menu .menu-sm #btn-regis:hover {
  transform: scale(1.1);
}
.nav-menu .menu-sm li {
  display: inline;
  float: right;
  list-style: none;
  margin: 0.5rem 1rem;
  font-weight: 500;
  font-size: 15px;
  padding-top: 0.5rem;
  transition: all 500ms;
}
.nav-menu .menu-sm li a {
  text-decoration: none;
  color: #3E86F5;
}
.nav-menu .menu-sm li a:hover {
  color: #3bbb55;
}
.nav-menu .menu-sm .active {
  border-bottom: 2px solid #3E86F5;
  border-radius: 1px;
}

.logo, .logo-2 {
  font-weight: 500;
  font-size: 2rem;
  color: #004C79 !important;
  font-weight: 600;
  margin-top: 0.5rem;
}

.logo-2 {
  margin: 0rem;
  padding: 0;
}

#p-elegant {
  font-size: 14px;
  margin-top: 0.5rem;
  font-weight: 100;
}

.card-ofert {
  width: 280px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1843137255);
  display: flex;
  border-radius: 30px;
  flex-direction: column;
  transition: all 500ms;
}
.card-ofert:hover {
  transform: scale(1.2);
}
.card-ofert img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}
.card-ofert .inform {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
}
.card-ofert .inform p {
  margin: 0;
  font-size: 10px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.5333333333);
  font-weight: medium;
}
.card-ofert .card-fo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 15px;
}
.card-ofert .card-fo h3 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.card-ofert .card-fo .sub-fo {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 70px;
}
.card-ofert .card-fo .sub-fo .reservetion {
  padding: 0.5rem;
  font-size: 10px;
  font-weight: 600;
  border: none;
  background-color: #F2F6FF;
  color: #3E86F5;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.banner .ban {
  width: 95%;
  height: 95%;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.488) 0%, rgba(10, 10, 10, 0.492) 100%), url(../assets/img/vista-anterior-salmon-sobre-tabla-madera\ \(1\).jpg);
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 50px;
}
.banner .ban .title-ban {
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.banner .ban .title-ban h2 {
  color: #fbfaf9;
  font-size: 3rem;
  font-weight: 600;
}
.banner .ban .title-ban p {
  margin-top: -30px;
  color: white;
  width: 78%;
  text-align: justify;
}
.banner .ban .logo-3 {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner .ban .logo-3 img {
  width: 300px;
  position: absolute;
}
.banner .ban .logo-3 p {
  color: white;
  position: relative;
  top: 45px;
}

.text-shadow {
  text-shadow: 0 0 10px white;
}

/*=======================Botones=====================*/
.btn-normal {
  font-size: 20px;
  border: none;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 6px #fd9662;
  border-radius: 10px;
  font-weight: 300;
  transition: all 1s;
}
.btn-normal:hover {
  box-shadow: 0 0 15px #F46B27;
  transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
}

.btn-salmon {
  font-size: 20px;
  border: none;
  color: white;
  text-decoration: none;
  background-color: #F46437;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  transition: all 1s;
}
.btn-salmon:hover {
  transform: rotate(-2deg) scale(1.1);
}

.btn-a {
  font-size: 1.3rem;
  border: none;
  text-decoration: none;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  transition: all 1s;
}
.btn-a:hover {
  box-shadow: 0 0 15px #3bbb55;
  transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
}

.btn-e {
  font-size: 1.3rem;
  border: none;
  text-decoration: none;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-weight: 500;
  transition: all 1s;
}
.btn-e:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.0431372549);
  transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
}

/*========================Colores=======================*/
.color-verde {
  color: #3bbb55;
}

.color-verde-bg {
  background-color: #3bbb55;
}

.color-verde-claro {
  color: #00ff33;
}

.color-verde-claro-bg {
  background-color: #00ff33;
}

.color-azul {
  color: #3E86F5;
}

.color-azul-bg {
  background-color: #3E86F5;
}

.color-atardecer {
  color: #F46B27;
}

.color-atardecer-bg {
  background-color: #F46B27;
}

.color-amarillo {
  color: #FFC107;
}

.color-amarillo-bg {
  background-color: #FFC107;
}

.card {
  width: 250px;
  height: 250px;
  background-size: cover;
  border-radius: 10px;
  transition: all 500ms;
  box-shadow: 0 0 14px rgba(168, 168, 168, 0.523);
  border: none;
}
.card:hover {
  box-shadow: 0 0 14px rgba(244, 107, 39, 0.2901960784);
  transform: scale(1.2);
}
.card img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}
.card .img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.descrip-card {
  height: 40%;
  padding: 1rem;
}
.descrip-card h3 {
  font-size: 20px;
  font-weight: 600;
}
.descrip-card .h3-little {
  font-size: 14px;
  font-weight: 600;
}
.descrip-card .descrip-card-sub {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
}
.descrip-card .descrip-card-sub .destino {
  font-size: 12px;
  display: flex;
  gap: 5px;
}
.descrip-card .descrip-card-sub .calificacion {
  display: flex;
  font-size: 12px;
}
.descrip-card .descrip-card-sub .precio {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
.descrip-card .descrip-card-sub .precio span {
  font-size: 8px;
}

.destino-descrip-sub, .destino-descrip-sub-4, .destino-descrip-sub-2, .destino-descrip-sub-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 60px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.337254902), rgba(0, 0, 0, 0.337254902)), url(../assets/img/hermosa-playa-tropical-mar.jpg);
  background-size: cover;
  background-position: center bottom;
  opacity: 0.9;
}
.destino-descrip-sub div, .destino-descrip-sub-4 div, .destino-descrip-sub-2 div, .destino-descrip-sub-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60vw;
}
.destino-descrip-sub div p, .destino-descrip-sub-4 div p, .destino-descrip-sub-2 div p, .destino-descrip-sub-3 div p {
  width: 70%;
}
.destino-descrip-sub div a, .destino-descrip-sub-4 div a, .destino-descrip-sub-2 div a, .destino-descrip-sub-3 div a {
  align-self: flex-start;
}

.destino-descrip-sub-2, .destino-descrip-sub-3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4784313725), rgba(0, 0, 0, 0.4784313725)), url(../assets/img/hermoso-paisaje-rio-rodeado-vegetacion-dia.jpg);
  background-size: cover;
  background-position: center center;
  align-items: end;
}
.destino-descrip-sub-2 div, .destino-descrip-sub-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 80%;
}
.destino-descrip-sub-2 div p, .destino-descrip-sub-3 div p {
  width: 70%;
  text-align: end;
}
.destino-descrip-sub-2 div a, .destino-descrip-sub-3 div a {
  align-self: flex-end;
}

.destino-descrip-sub-3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3450980392), rgba(0, 0, 0, 0.3725490196)), url(../assets/img/florayfauna.jpg);
  background-size: cover;
  background-position: center bottom;
}

.destino-descrip-sub-4 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4431372549), rgba(0, 0, 0, 0.3803921569)), url(../assets/img/Casa-bonita.jpg);
  background-size: cover;
  background-position: center bottom;
}
.destino-descrip-sub-4 div h1 {
  width: 130%;
}

.destino-descrip-sub-5 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4862745098), rgba(0, 0, 0, 0.4862745098)), url(../assets/img/actividades.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destino-descrip-sub-5 div {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destino-descrip-sub-5 div h1 {
  font-size: 3rem;
  color: #00e82e;
  text-align: center;
}
.destino-descrip-sub-5 div p {
  color: white;
  text-align: center;
}

.destino-descrip-sub-6 {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 60px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4588235294), rgba(0, 0, 0, 0.4784313725)), url(../assets/img/Turismo.jpg);
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
}
.destino-descrip-sub-6 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60vw;
}
.destino-descrip-sub-6 div h1 {
  font-size: 2rem;
}
.destino-descrip-sub-6 div p {
  width: 70%;
}
.destino-descrip-sub-6 div a {
  align-self: flex-start;
}

.promo-ban {
  height: 90vh;
}

/*----------------------- Galeria------------------*/
.gal-content-1 {
  height: auto;
  padding: 30px 0;
}

.gal-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;
  width: 95%;
  margin-left: 2.5%;
}
.gal-2 div {
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}
.gal-2 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#foto-1 {
  height: calc(200% + 10px);
  width: 580px;
}

/*=============forms===========*/
.content-form {
  position: absolute;
  top: 70vh;
}
.content-form .title-form {
  background-color: white;
  width: 20vw;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.202);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}
.content-form .title-form .div1 {
  background-color: #f46b27;
  font-weight: 700;
  padding: 0.2rem 1rem;
  color: white;
  border-radius: 10px;
}
.content-form .title-form .div p i {
  transform: rotate(30deg);
}
.content-form .form {
  width: 75vw;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.202);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content-form .form .-f, .content-form .form .search {
  width: 40%;
  height: 65%;
  border: 2px solid rgba(172, 172, 172, 0.4705882353);
  border-radius: 20px;
}
.content-form .form .search {
  border: none;
  width: 11%;
  background-color: #F46B27;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 500ms;
}
.content-form .form .search:hover {
  transform: scale(1.1);
}
.content-form .form .search i {
  font-size: 40px;
  color: white;
}

.form2, .form1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.cont-f1 {
  padding: 1rem 1rem;
}
.cont-f1 p {
  font-weight: 700;
}

.input {
  border: none;
  width: 135px;
}
.input:focus {
  border: none;
  outline: none;
}
.input:active {
  border: none;
}

.form1 {
  justify-content: space-between;
}
.form1 select {
  border: none;
}

li {
  list-style: none;
}

/*===========Mapa=============*/
.map {
  width: 90%;
  height: 80%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.149);
  position: absolute;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.map-title {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 35%;
  height: auto;
  border-radius: 5px;
  top: 100px;
  right: 250px;
  padding: 20px;
}
.map-title p {
  font-size: 17px;
  font-weight: 700;
}
.map-title span {
  padding-top: 100px;
  font-size: 15px;
  text-align: justify;
}

.img-about {
  height: 90vh;
  width: 30%;
  border-radius: 10px;
  background-image: url(https://img.freepik.com/foto-gratis/turismo-cultural_23-2147641193.jpg?size=626&ext=jpg&ga=GA1.1.63583747.1672681572&semt=ais);
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.img-can {
  width: 180px;
  height: 180px;
}

#img {
  height: 500px;
  width: 100%;
}

/*=============Tarjetas=============*/
.tarjet {
  width: 100.3vw;
  height: 200px;
  background-color: rgba(62, 135, 245, 0.1098039216);
}
.tarjet .feed-tarjet {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tarjet .feed-tarjet h3 {
  font-weight: 600;
  color: #004C79;
}

#Hours {
  font-size: 25px;
}

.sec-social {
  height: 50vh;
  padding: 30px;
}
.sec-social div h2 {
  font-size: 30px;
  font-weight: 700;
  color: #3E86F5;
}

.social {
  display: flex;
  gap: 5%;
  align-items: center;
  height: 100%;
  padding: 0 3rem;
}
.social .social-links {
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social .social-links i {
  font-size: 30px;
}
.social .social-links p {
  font-size: 20px;
  font-weight: 500;
}

.link1 i {
  color: #00acee;
}

.link2 i {
  background: linear-gradient(135deg, #feda75 0%, #fa7e1e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link3 i {
  color: #3b5998;
}

/*==============Actividades============*/
.activities-descrip, .activities-descrip-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activities-descrip .img, .activities-descrip-2 .img {
  width: 40%;
  height: 70%;
}
.activities-descrip .img img, .activities-descrip-2 .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.activities-descrip .activiti-1, .activities-descrip-2 .activiti-1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
}
.activities-descrip .activiti-1 h2, .activities-descrip-2 .activiti-1 h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}
.activities-descrip .activiti-1 p, .activities-descrip-2 .activiti-1 p {
  text-align: justify;
}

.activities-descrip-2 {
  flex-direction: row-reverse;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-fino {
  text-align: justify;
  line-height: 29px;
  font-size: 16px;
}

/*------Header-----*/
.header-1 {
  width: 100%;
  height: 89vh;
  margin-top: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-image: url("../assets/img/cap-cana_003.jpg");
  background-size: cover;
  background-position: center;
  height: 97%;
  width: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.header h1 {
  color: white;
  font-family: sans-serif;
  font-size: 9em;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(https://img.freepik.com/fotos-premium/siluetas-palmeras-coco-sobre-fondo-cielo-mar-azul-al-atardecer_63726-105.jpg?w=1060);
  background-attachment: fixed;
  background-clip: text;
  background-position: center top;
}

body {
  background-color: #F7F7F7;
}

section {
  height: 89vh;
}

.h-auto {
  height: auto;
}

.special-ofert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding: 0 200px;
}
.special-ofert h2 {
  padding: 1rem 0rem;
  text-align: center;
  margin: 0;
}

.sec-opin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sec-opin h2 {
  position: absolute;
  padding: 20px;
  font-size: 50px;
  font-weight: 500;
  color: #ff722c;
  margin-bottom: 425px;
}

.opinion {
  background-color: rgb(239, 239, 239);
  width: 98%;
  height: 95%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.opinion .messa {
  width: 45%;
  height: 60%;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px 1px rgba(178, 178, 178, 0.474);
  align-items: center;
  justify-content: center;
}
.opinion .messa .text-messa {
  font-size: 15px;
  font-weight: 400;
  width: 80%;
  text-align: center;
  position: relative;
}
.opinion .messa .text-messa span {
  color: #007bff;
  font-size: 20px;
  font-weight: 500;
}
.opinion .messa .user {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: content-box;
  border-radius: 45%;
  position: absolute;
  margin-top: 270px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.178);
}
.opinion .messa .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.opinion .messa .user .star {
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 14px rgba(213, 213, 213, 0.456);
  position: relative;
  width: 70px;
  left: 70px;
  bottom: 80px;
}
.opinion .messa .user .star span i {
  color: #FFC107;
}

.card-section {
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 3rem;
}

.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.photos .p-title {
  position: absolute;
}
.photos .p-title h2 {
  font-size: 325px;
  font-weight: 900;
  color: #ff722c;
  opacity: 0.5;
}
.photos .sect-phot {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
  padding: 50px;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .sect-phot {
    flex-direction: column;
    width: 100vw;
  }
}
footer {
  padding: 0 130px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/*=================Pagina de destinos===================*/
.header-destino {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}

.destino-descrip-up {
  overflow: hidden;
  height: 88.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-direction: row-reverse;
}

.destino-descrip {
  width: 35%;
}
.destino-descrip h1 {
  font-weight: 600;
  font-size: 44px;
}
.destino-descrip p {
  text-align: justify;
}

.imagen-destino {
  justify-content: center;
  align-items: start;
}
.imagen-destino img {
  width: 400px;
  margin-top: -150px;
}

@media (max-width: 700px) {
  .imagen-destino {
    display: none;
  }
  .destino-descrip {
    width: 90%;
  }
}
.inform-destino {
  background-color: rgba(62, 135, 245, 0.0509803922);
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-direction: column;
}
.inform-destino h2 {
  font-weight: 600;
  font-size: 35px;
  padding-top: 5rem;
}

.card-section-destino {
  display: flex;
  gap: 2rem;
}

.clasificacion-destino {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1921568627);
  padding: 60px;
}
.clasificacion-destino .clasificacion-destino-sub {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clasificacion-destino .clasificacion-destino-sub h3 {
  font-size: 40px;
  font-weight: 600;
  color: #ff722c;
}

.sec-1 {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-sec {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.content-eco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eco-box {
  width: 90%;
  height: 70%;
}

/*=======Footer=======*/
footer {
  background-color: rgba(62, 135, 245, 0.1098039216);
}

.footer-bott {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #3E86F5;
  padding: 0 30px;
  color: white;
}
.footer-bott p {
  font-size: 15px;
  font-family: monospace;
}
.footer-bott ul {
  list-style: none;
  margin: 0;
}
.footer-bott ul li {
  transition: all 1s;
}
.footer-bott ul li:hover {
  transform: translate(100px);
  transform: rotate(30deg);
}
.footer-bott ul li a {
  margin-left: 20px;
}
.footer-bott ul li a i {
  font-size: 24px;
  color: white;
  transition: all 500ms;
}
.footer-bott ul li a i:hover {
  box-shadow: 0, 0, 0, 14px black;
}

@media (max-width: 1000px) {
  .footer-bott {
    justify-content: center;
    overflow: hidden;
  }
  .footer-bott ul {
    list-style: none;
    margin: 0;
  }
  .footer-bott ul li {
    display: none;
  }
  .footer-bott ul li a i {
    display: none;
  }
}
.sec-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========================Galeria=================================*/
.header-galery2 {
  height: 89vh;
  margin-top: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-galery2 .header-galery {
  width: 95%;
  height: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.header-galery2 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-galery2 .header-sec {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6509803922), transparent 70%);
  position: absolute;
  padding: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-galery2 .header-sec h1 {
  font-size: 3em;
  font-weight: 600;
  background-position: center center;
}
.header-galery2 .header-sec h2 {
  font-size: 1.5em;
  font-weight: 600;
  background-position: center center;
}
.header-galery2 .header-sec p {
  width: 50%;
  text-align: justify;
}

.content-gal2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.content-gal2 h2 {
  text-align: center;
  width: 100%;
  font-weight: 700;
}

/*=============Sobre nosotros==============*/
.header-about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.header-about h1 {
  color: white;
  font-family: sans-serif;
  font-size: 9em;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../assets/img/bahia-de-las-aguilas-pedernales.jpg);
  background-clip: text;
  background-position: center bottom;
}
.header-about p {
  font-size: 30px;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../assets/img/bahia-de-las-aguilas-pedernales.jpg);
  background-clip: text;
  background-position: center bottom;
}

.sec-about {
  display: flex;
  justify-content: center;
  height: 50vh;
}
.sec-about .content-about {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.title-about {
  font-weight: 700;
  font-size: 30px;
}

/*========Contactos========*/
.header-contact {
  height: 89vh;
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-contact .header-contact-sub {
  width: 95%;
  height: 90%;
  background: linear-gradient(to right, #ff722c 10%, transparent 90%), url(../assets/img/Casa-bonita.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-contact .header-contact-sub h1 {
  font-size: 3em;
  font-weight: 600;
  color: white;
  background-position: center center;
}
.header-contact .header-contact-sub #p {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.header-contact .header-contact-sub p {
  width: 50%;
  color: white;
  text-align: justify;
}

.sec-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 3rem;
}
.sec-contact .content-c {
  width: 100%;
  height: 100vh;
  display: flex;
}
.sec-contact .content-c div {
  width: 100%;
  border-radius: 10px;
}

.publicidad {
  width: 20%;
  height: 85vh;
  background-color: #004C79;
  border-radius: 10px;
  background-image: url(../assets/img/Todo\ menos\ salmon.png);
  background-size: 100% 100%;
  cursor: pointer;
}

#icon-1 {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.316);
  transform: rotate(-20deg);
  transition: all 1000ms;
}
#icon-1:hover {
  transform: rotate(360deg);
}

#icon-2 {
  position: absolute;
  top: 75%;
  left: 30%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.316);
  transition: all 1000ms;
}
#icon-2:hover {
  animation: rotate 2s;
}

#icon-3 {
  position: absolute;
  top: 80%;
  left: 15%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.316);
  transition: all 100ms;
}
#icon-3:hover {
  animation: muve 2s;
}

@keyframes muve {
  10% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(-30deg) translateY(-20px);
  }
  100% {
    transform: rotateY(360deg) translate(0px);
  }
}
/*================Formularios contactos===========*/
.cont-form {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
}
.cont-form .paf-c h2 {
  font-weight: 700;
  text-align: center;
}
.cont-form .paf-c p {
  text-align: center;
}
.cont-form .form-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;
}
.cont-form .form-c .input, .cont-form .form-c textarea {
  border: 1px solid rgba(62, 134, 245, 0.8431372549);
  width: 50vw;
  padding: 10px;
  border-radius: 5px;
  transition: all 500ms;
  color: #3E86F5;
}
.cont-form .form-c .input::placeholder, .cont-form .form-c textarea::placeholder {
  color: #3E86F5;
}
.cont-form .form-c .input:focus, .cont-form .form-c textarea:focus {
  outline: none;
  border: 1px solid rgba(255, 114, 44, 0.8431372549);
  color: #3E86F5;
}
.cont-form .form-c textarea {
  height: 100px;
  resize: none;
}
.cont-form .form-c .button {
  width: 50vw;
}

.contac-sec {
  height: 120vh;
}

.content-c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 6rem;
}
.content-c1 i {
  font-size: 50px;
  color: #3E86F5;
}

.content-p {
  text-align: center;
  width: 70%;
}
.content-p h2 {
  font-weight: 700;
  color: #3E86F5;
}
.content-p p {
  text-align: justify;
}

.form-contac {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form-contac input {
  padding: 8px 20px;
  border-radius: 5px;
  border: 2px solid rgba(62, 135, 245, 0.8431372549);
  width: 60%;
  color: #3E86F5;
}
.form-contac input::placeholder {
  color: #3E86F5;
}
.form-contac input:focus {
  outline: none;
  border: 2px solid rgba(62, 135, 245, 0.8431372549);
  color: #3E86F5;
}
.form-contac input:active {
  border: 2px solid rgba(62, 135, 245, 0.8431372549);
  color: #3E86F5;
}
.form-contac button {
  width: 10%;
}

/*==============Actividades PAGES===========*/
.header-activities {
  height: 89vh;
  margin-top: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----Componentes------*/
/*----estilos-globales---*/

/*# sourceMappingURL=style.css.map */
