$color-azul-oscuro:#004C79;
$color-verde-esmerald:#3bbb55;
$color-verde-bg:#0e880a;
$color-verde-texto:#0e880a57;
$color-atardecer:#F46B27;
$color-azul:#3E86F5;
$color-rosa-text: #0055ff;
$color-rosa:#f1f1fd;
$color-amarillo:#FFC107;
p{
    margin: 0;
}
/*----------------------------Menu------------------------*/
.nav-menu{
    display: flex;
    position: fixed;
    top:0;
    width: 100vw;
    justify-content: space-around;
    flex-direction: row;
    gap: 7rem;
    padding: 5px ;
    align-items: center;
    background-color: #fff;
    border-bottom: 0.5px solid #b4b5b67f;
    z-index:1 ;
    .menu-sm{
        float: right;
        margin: 0px;
        

        #btn-regis{
            background-color: $color-verde-esmerald;
            color: white;
            padding: 0.5rem;
            font-size: 15px;
            border-radius:10px ;
            transition: all 500ms;
            &:hover{
                transform: scale(1.1);
            }
        }

        li{
            display: inline;
            float: right;
            list-style: none;
            margin: 0.5rem 1rem;
            font-weight: 500;
            font-size: 15px;
            padding-top: 0.5rem;
            
        
            a{
            text-decoration: none;
            color: $color-azul;
            }
        }

        .active{
            border-bottom: 2px solid $color-azul;
            border-radius: 1px;
            
        }
        
    }
  

   
}

.logo{
    font-weight: 500;
    font-size: 2rem;
    color: $color-azul-oscuro !important;
    font-weight: 600;
    margin-top: 0.5rem;
    
}

.logo-2{
    @extend .logo;
    margin: 0rem;
    padding: 0;
}

#p-elegant{
    font-size: 14px;
    margin-top: 0.5rem;
    font-weight: 100;
}

.card-ofert{
    width: 280px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 6px #0000002f;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    transition: all 500ms;

    &:hover{
    transform: scale(1.2);
    }
 

    img{
        width: 100%;
        height: 60%;
        border-radius:20px;
        
    
    }
    .inform{
        display: flex;
        padding:10px 20px;
        align-items: center;
        gap: 10px;
        p{
            margin: 0;
            font-size: 10px;
            margin-top: 2px;
            color: #00000088;
            font-weight: medium;
        }
    }
    .card-fo{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 15px;
        h3{
            font-size: 20px;
            font-weight: 600;
            margin-left: 10px;
        }
        .sub-fo{
            margin-left: 10px;
            display: flex;
            align-items: center;
            gap: 70px;

            .reservetion{
                padding: 0.5rem;
                font-size: 10px;
                font-weight: 600;
                border: none;
                background-color: #F2F6FF;
                color: $color-azul;
                border-radius: 10px;
                

            }
           
        }
        }
    }

    
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    .ban{
        width: 80%;
        height: 75%;
        background-color: #3E86F5;
        border-radius: 50px;
        background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.268) 0%, rgba(10, 10, 10, 0.268) 100%), url(../assets/img/al-atardecer-playa-tropical-mar-palmera-coco.jpg);
        background-position: center bottom;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
        h2{
            color: white;
            text-align: center;
            width: 80%;
            font-weight: 600;
            font-size: 40px;
        }
    }
}

.relax{
    font-size: 10px;
    color: $color-rosa-text;
    background-color: $color-rosa;
    border-radius: 50px;
    height: 15px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adventure{
    @extend .relax;
    background-color: #f1f1fd;
    color: $color-verde-bg;
    width: 55px;
    
}

.text-shadow{
    text-shadow: 0 0 10px white;;
}

/*=======================Botones=====================*/

.btn-normal{
    font-size: 20px;
    border: none;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 6px #fd9662;
    border-radius: 10px;
    font-weight: 300;
    transition: all 1s;
    &:hover{
        box-shadow: 0 0 15px $color-atardecer;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
          
          
    }
}
.btn-secundario{
    font-size: 20px;
    border: none;
    color: $color-azul;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 6px #ffffff;
    border-radius: 10px;
    font-weight: 500;
    transition: all 1s;
    
    &:hover{
        box-shadow: 0 0 10px white;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
          
          
    }
}

.btn-a{
    font-size: 1.3rem;
    border: none;
    text-decoration: none;
    color: white;
    background-color: $color-verde-esmerald;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 6px $color-verde-esmerald;
    border-radius: 10px;
    font-weight: 500;
    transition: all 1s;
    
    &:hover{
        box-shadow: 0 0 15px $color-verde-esmerald;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
        
          
    }
}

.btn-a-up{
  @extend .btn-a;
  background-color: $color-atardecer;
  box-shadow: 0 0 6px $color-atardecer;
    
    &:hover{
        box-shadow: 0 0 15px $color-atardecer;
        transform:rotate3d(10 0 1000 1deg)  scale(1.1);
        
          
    }
}
/*========================Colores=======================*/

.color-verde{
    color: $color-verde-esmerald;
}

.color-verde-bg{
    background-color: $color-verde-esmerald;
}

.color-azul{
    color: $color-azul;
}
.color-azul-bg{
    background-color: $color-azul;
}

.color-atardecer{
    color: $color-atardecer;
}

.color-atardecer-bg{
    background-color: $color-atardecer;
}
.color-amarillo{
    color: $color-amarillo;
}

.color-amarillo-bg{
    background-color: $color-amarillo;
}


.card{
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
    transition: all 500ms;
    box-shadow: 0 0 14px rgba(168, 168, 168, 0.523);
    border: none;

    &:hover{
    box-shadow: 0 0 14px #f46b274a;
    transform: scale(1.2);
    }
    img{
        width: 100%;
        height: 209px;
        border-radius: 10px;
    }
  
}

.descrip-card{
    height: 40%;
    padding: 1rem;

    h3{
        font-size: 20px;
    }
    .descrip-card-sub{
        display: flex;
        gap: 0.5rem;
        justify-content: space-around;
        .destino{
            font-size: 12px;
            display: flex;
            gap: 5px;
        }
        .calificacion{
            display: flex;
            font-size: 12px;
        }
        .precio{
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            span{
                font-size: 8px;
            }
        }
    }
}

.destino-descrip-sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding:30px ;
    background: url(https://www.delazonaoriental.net/wp-content/uploads/2021/01/flamenco.jpg);
    background-size: cover;
    opacity: 0.9;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 60vw;
        a{
            align-self: flex-start;
        }
    }
}

.destino-descrip-sub-2{
    @extend .destino-descrip-sub;
    color: black;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    background-image: none;
    background-color: transparent;
    .img-ban{
        width: 500px;
        height: 350px;
        border-radius: 30px;
        background-color: black;
        background: url(https://mediospanorama.com/wp-content/uploads/2020/05/Iguana-Rinoceronte-e1589638264728-850x560.jpg) no-repeat;
        background-size: cover;
        background-position:center bottom;
    }

}

.promo-ban{
    height: 80vh;
    background-color: transparent;
}

//----------------------- Galeria
.container-g{
    display: flex;
    align-items: center;
    height: 100vh;
}
.photo-g{
    height: 300px;
    background-color: $color-atardecer;
    flex: 1;
    transition: 0.3s;
    margin: 0 5px;
    &:hover{
        flex: 3;
        background-color: $color-atardecer;
    }
}
/*=============forms===========*/
.content-form{
    position: absolute;
    top: 85vh;
    .title-form{
        background-color: white;
        width: 20vw;
        height: 50px;
        border-top-right-radius:20px ; 
        border-top-left-radius: 20px;
        box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.202);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        .div1{
            background-color:#f46b27;
            font-weight: 700;
            padding: 0.2rem 1rem;
            color: white;
            border-radius: 10px;
        }
        .div{
           p{
             i{
                transform: rotate(30deg);
            }
        }
        }
    }
    .form{
    width: 75vw;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius:0px ;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.202);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
        .-f{
            width: 40%;
            height: 65%;
            border: 2px solid #acacac78;
            border-radius: 20px;
        }
        .search{
            @extend .-f;
            border: none;
            width: 11%;
            background-color: $color-atardecer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 500ms;
            &:hover{
                transform: scale(1.1);
            }
            i{
                font-size: 40px;
                color: white;
            }
        }
    }
}

.form2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  
}
.cont-f1{
    padding: 1rem 1rem;
    p{
        font-weight: 700;
    }
   
}

.input{
    border: none;
    width: 135px;
    &:focus{
        border: none;
        outline: none;
    }
    &:active{
        border: none;
    }
}

.form1{
    @extend .form2;
    justify-content: space-between;
    select{
        border: none;
        

    }
}

li{
    list-style: none;
}

/*===========Mapa=============*/
.map{
    width: 80%;
    height: 70%;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.149);
    position:absolute;
    iframe{
        width: 100%;
        height: 100%;
    }
  
}

.map-title{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 35%;
    height: 25%;
    border-radius: 25px;
    top: 100px;
    right: 250px;
    padding: 20px;
    p{
        font-size: 17px;
        font-weight: 700;
    }
    span{
        padding-top: 100px;
        font-size: 15px;
    }


    
}