$color-azul-oscuro:#004C79;
$color-verde-esmerald:#3bbb55;
$color-verde-bg:#0e880a;
$color-verde-texto:#0e880a8d;
$color-atardecer:#F46B27;
$color-atardecer-oscuro:#f45100a4;
$color-azul:#3E86F5;
$color-rosa-text: #0055ff;
$color-rosa:#f1f1fd;
$color-amarillo:#FFC107;
p{
    margin: 0;
}

.list{
    list-style: disc;
    font: 16px;
}
/*----------------------------Menu------------------------*/
.nav-menu{
    display: flex;
    position: fixed;
    top:0;
    width: 100vw;
    height: 11vh;
    justify-content: space-around;
    gap: 7rem;
    padding: 5px ;
    align-items: center;
    background-color: #fff;
    border-bottom: 0.5px solid #b4b5b67f;
    z-index:1 ;
    .menu-sm{
        float: right;
        margin: 0px;
        

        #btn-regis{
            background-color: $color-verde-esmerald;
            color: white;
            padding: 0.5rem;
            font-size: 15px;
            border-radius:10px ;
            transition: all 500ms;
            &:hover{
                transform: scale(1.1);
            }
        }

        li{
            display: inline;
            float: right;
            list-style: none;
            margin: 0.5rem 1rem;
            font-weight: 500;
            font-size: 15px;
            padding-top: 0.5rem;
            
        
            a{
            text-decoration: none;
            color: $color-azul;
            }
        }

        .active{
            border-bottom: 2px solid $color-azul;
            border-radius: 1px;
    
            
        }
        
    }
  

   
}


.logo{
    font-weight: 500;
    font-size: 2rem;
    color: $color-azul-oscuro !important;
    font-weight: 600;
    margin-top: 0.5rem;
    
}

.logo-2{
    @extend .logo;
    margin: 0rem;
    padding: 0;
}

#p-elegant{
    font-size: 14px;
    margin-top: 0.5rem;
    font-weight: 100;
}

.card-ofert{
    width: 280px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 6px #0000002f;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    transition: all 500ms;

    &:hover{
    transform: scale(1.2);
    }
 

    img{
        width: 100%;
        height: 60%;
        border-radius:20px;
        
    
    }
    .inform{
        display: flex;
        padding:10px 20px;
        align-items: center;
        gap: 10px;
        p{
            margin: 0;
            font-size: 10px;
            margin-top: 2px;
            color: #00000088;
            font-weight: medium;
        }
    }
    .card-fo{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 15px;
        h3{
            font-size: 20px;
            font-weight: 600;
            margin-left: 10px;
        }
        .sub-fo{
            margin-left: 10px;
            display: flex;
            align-items: center;
            gap: 70px;

            .reservetion{
                padding: 0.5rem;
                font-size: 10px;
                font-weight: 600;
                border: none;
                background-color: #F2F6FF;
                color: $color-azul;
                border-radius: 10px;
                

            }
           
        }
        }
    }

    
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    .ban{
        width: 80%;
        height: 75%;
        background-color: #3E86F5;
        border-radius: 50px;
        background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.268) 0%, rgba(10, 10, 10, 0.268) 100%), url(../assets/img/al-atardecer-playa-tropical-mar-palmera-coco.jpg);
        background-position: center bottom;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-direction: column;
        h2{
            color: white;
            text-align: center;
            width: 80%;
            font-weight: 600;
            font-size: 40px;
        }
    }
}

.relax{
    font-size: 10px;
    color: $color-rosa-text;
    background-color: $color-rosa;
    border-radius: 50px;
    height: 15px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adventure{
    @extend .relax;
    background-color: #f1f1fd;
    color: $color-verde-bg;
    width: 55px;
    
}

.text-shadow{
    text-shadow: 0 0 10px white;;
}

/*=======================Botones=====================*/

.btn-normal{
    font-size: 20px;
    border: none;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 6px #fd9662;
    border-radius: 10px;
    font-weight: 300;
    transition: all 1s;
    &:hover{
        box-shadow: 0 0 15px $color-atardecer;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
          
          
    }
}
.btn-secundario{
    font-size: 20px;
    border: none;
    color: $color-azul;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 6px #ffffff;
    border-radius: 10px;
    font-weight: 500;
    transition: all 1s;
    
    &:hover{
        box-shadow: 0 0 10px white;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
          
          
    }
}

.btn-a{
    font-size: 1.3rem;
    border: none;
    text-decoration: none;
    color: white;
    background-color: $color-verde-esmerald;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 6px $color-verde-esmerald;
    border-radius: 10px;
    font-weight: 500;
    transition: all 1s;
    
    &:hover{
        box-shadow: 0 0 15px $color-verde-esmerald;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
        
          
    }
}

.btn-e{
    font-size: 1.3rem;
    border: none;
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: all 1s;
    
    &:hover{
        box-shadow: 0 0 15px #0000000b;
        transform: rotate3d(0, 0, 1000, 1deg) scale(1.1);
        
          
    }
}

.btn-a-up{
  @extend .btn-a;
  background-color: $color-atardecer;
  box-shadow: 0 0 6px $color-atardecer;
    
    &:hover{
        box-shadow: 0 0 15px $color-atardecer;
        transform:rotate3d(10 0 1000 1deg)  scale(1.1);
        
          
    }
}
/*========================Colores=======================*/

.color-verde{
    color: $color-verde-esmerald;
}

.color-verde-bg{
    background-color: $color-verde-bg;
}

.color-verde-claro{
    color: #00ff33;
}

.color-verde-claro-bg{
    background-color: #00ff33;
}

.color-azul{
    color: $color-azul;
}
.color-azul-bg{
    background-color: $color-azul;
}

.color-atardecer{
    color: $color-atardecer;
}

.color-atardecer-bg{
    background-color: $color-atardecer;
}
.color-amarillo{
    color: $color-amarillo;
}

.color-amarillo-bg{
    background-color: $color-amarillo;
}


.card{
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
    transition: all 500ms;
    box-shadow: 0 0 14px rgba(168, 168, 168, 0.523);
    border: none;

    &:hover{
    box-shadow: 0 0 14px #f46b274a;
    transform: scale(1.2);
    }
    img{
        width: 100%;
        height: 90%;
        border-radius: 10px;
        object-fit: cover;
    }
  
}

.descrip-card{
    height: 40%;
    padding: 1rem;

    h3{
        font-size: 20px;
    }
    .descrip-card-sub{
        display: flex;
        gap: 0.5rem;
        justify-content: space-around;
        .destino{
            font-size: 12px;
            display: flex;
            gap: 5px;
        }
        .calificacion{
            display: flex;
            font-size: 12px;
        }
        .precio{
            display: flex;
            font-size: 12px;
            justify-content: center;
            align-items: center;
            span{
                font-size: 8px;
            }
        }
    }
}

.destino-descrip-sub{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding:60px ;
    background:linear-gradient(to right, #00000056 , #00000056) , url(../assets/img/hermosa-playa-tropical-mar.jpg);
    background-size: cover;
    background-position: center bottom;
    opacity: 0.9;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 60vw;
        p{
            width:70%;
        }
        a{
            align-self: flex-start;
        }
    }
}

.destino-descrip-sub-2{
    @extend .destino-descrip-sub;
    background: linear-gradient(to right, #0000007a, #0000007a), url(../assets/img/hermoso-paisaje-rio-rodeado-vegetacion-dia.jpg);
    background-size: cover;
    background-position: center center;
    align-items: end;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        width: 80%;
        p{
            width:70%;
            text-align: end;
        }
        a{
            align-self: flex-end;
        }
    }
}

.promo-ban{
    height: 90vh;
    background-color: #f46b271c;
}

/*----------------------- Galeria------------------*/

.gal-content-1{
    height: auto;
    padding: 30px 0;
}
.gal-2{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    width: 95%;
    margin-left: 2.5%;
    
    div{
        height: auto;
        background-color: $color-azul;
        border-radius:5px ;
        img{
            width: 100%;
            height:100%;
            object-fit: cover;
        }

    }
}

#foto-1{
    height:  calc(200% + 10px);
    width: calc(2*285px + 10px);
}
/*=============forms===========*/
.content-form{
    position: absolute;
    top: 70vh;
    .title-form{
        background-color: white;
        width: 20vw;
        height: 50px;
        border-top-right-radius:20px ; 
        border-top-left-radius: 20px;
        box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.202);
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        .div1{
            background-color:#f46b27;
            font-weight: 700;
            padding: 0.2rem 1rem;
            color: white;
            border-radius: 10px;
        }
        .div{
           p{
             i{
                transform: rotate(30deg);
            }
        }
        }
    }
    .form{
    width: 75vw;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius:0px ;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.202);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
        .-f{
            width: 40%;
            height: 65%;
            border: 2px solid #acacac78;
            border-radius: 20px;
        }
        .search{
            @extend .-f;
            border: none;
            width: 11%;
            background-color: $color-atardecer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 500ms;
            &:hover{
                transform: scale(1.1);
            }
            i{
                font-size: 40px;
                color: white;
            }
        }
    }
}

.form2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
  
}
.cont-f1{
    padding: 1rem 1rem;
    p{
        font-weight: 700;
    }
   
}

.input{
    border: none;
    width: 135px;
    &:focus{
        border: none;
        outline: none;
    }
    &:active{
        border: none;
    }
}

.form1{
    @extend .form2;
    justify-content: space-between;
    select{
        border: none;
        

    }
}

li{
    list-style: none;
}

/*===========Mapa=============*/
.map{
    width: 80%;
    height: 70%;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.149);
    position:absolute;
    iframe{
        width: 100%;
        height: 100%;
    }
  
}

.map-title{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 35%;
    height: 25%;
    border-radius: 25px;
    top: 100px;
    right: 250px;
    padding: 20px;
    p{
        font-size: 17px;
        font-weight: 700;
    }
    span{
        padding-top: 100px;
        font-size: 15px;
    }


    
}

.img-about{
    height: 90vh;
    width: 30%;
    border-radius: 10px;
    background-image: url(https://img.freepik.com/foto-gratis/turismo-cultural_23-2147641193.jpg?size=626&ext=jpg&ga=GA1.1.63583747.1672681572&semt=ais);
    background-size:cover ;
    background-position: center;
    margin-right: 30px;
}

.img-can{
    width: 180px;
    height: 180px;
}

#img{
    height: 500px;
    width: 100%;
}

/*=============Tarjetas=============*/

.tarjet{
    width: 100.3vw;
    height: 200px;
    background-color: #3e87f51c;
    
    .feed-tarjet{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-weight: 600;
            color: $color-azul-oscuro;
        }
    }
}

#Hours{
    font-size: 25px;
}

.sec-social{
    height: 50vh;
    padding: 30px;
    div{
        h2{
            font-size: 30px;
            font-weight: 700;
            color: $color-azul;
        }
    }
}

.social{
    display: flex;
    gap: 5%;
    align-items: center;
    height: 100%;
    padding: 0 3rem;

    .social-links{        
        width: 30%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        i{
            font-size: 30px;
        }
        p{
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.link1{
    i{
        color: #00acee;
    }
}

.link2{
    i{
    
    background: linear-gradient(135deg, #feda75 0%, #fa7e1e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
          
    }
}

.link3{
    i{
    
   color: #3b5998;
          
    }
}

