$background:#F7F7F7;
$color-azul-oscuro:#004C79;
$color-verde-esmerald:#53AE65;
$color-atardecer:#F46B27;
$color-azul:#3E86F5;
$color-rosa-text:#F178B6;
$color-rosa:#FCDDEC;
$background-oscuro:#eaeeff49;
$color-amarillo:#FFC107;

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{

    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(248, 248, 248);
    .back{
        width: 40px;
        height: 40px;
        position: absolute;
       left: 10px;
        top:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: $color-atardecer;
        i{
            margin-left: -9px;
            font-size: 30px;
        }
        }
    }
}

.form{
    width: 70%;
    height: 90%;
    background: white;
    box-shadow: 6px 4px 12px rgba(185, 185, 185, 0.601);
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    .cont-f{
        width: 50%;
        height: 100%;
    }
    .content-form1{
        display: flex;
        align-items:center ;
        justify-content: center;
        flex-direction: column;
        background:linear-gradient(to top,(#ff722c),(#ff2c2c));
        color: white;
        h1{
            font-size: 30px;
            font-weight: 700;
            color: white;
        }
        p{
            width: 90%;
            text-align: center;
        }

    } 
    .content-form2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 30px;
            font-weight: 700;
            text-align: center;
        }
        .icons{
            padding-top: 0px;
            display: flex;
            justify-content: center;
            gap: 4rem;
        
            i{
                font-size: 25px;
                color: $color-atardecer;
                transition: all 400ms;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        p{
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }
}

.inp{
    display: flex;
    flex-direction: column;
    width: 90%;
    input{
        width: 350px;
        padding: 10px;
        background-color: rgb(245, 245, 245);
        border: none;
        border-radius: 5px;
        transition: all 500ms;
        &::placeholder{
            color: rgb(165, 165, 165);
        }
        &:hover{
            background-color: $color-atardecer;
            &::placeholder{
                color: white;
            }
           
        }
        &:focus{
            outline: none;
            border: none;
            color: white;
            background-color: $color-atardecer
        }
        &:active{
            border: none;
            color: white;
            
        }
       
    }
        
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   
}

.btn-submit{
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-weight: 700;
    color: white;
    background-color: $color-atardecer;
    font-size: 15px;
    transition: all 1s;
    &:hover{
        transform: scale(1.2) rotate(1deg);
        box-shadow: 0 0 4px $color-atardecer;
    }
}

.btn-f{
    @extend .btn-submit;
    background-color: transparent;
    border: 1px solid white;
    font-size: 20px;
}