$background:#F7F7F7;
$color-azul-oscuro:#004C79;
$color-verde-esmerald:#53AE65;
$color-atardecer:#ff722c;
$color-atardecer-oscuro:#ff5500;
$color-azul:#3E86F5;
$color-rosa-text:#F178B6;
$color-rosa:#FCDDEC;
$background-oscuro:#3e87f50d;
$color-amarillo:#FFC107;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.p-fino {
    text-align: justify;
    line-height: 29px;
    font-size: 16px;
}

/*------Header-----*/

.header-1{
    width: 100%;
    height: 89vh;
    margin-top: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background-image: url("../assets/img/cap-cana_003.jpg");
    background-size: cover;
    background-position: center;
    height: 97%;
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    h1{
    color: white;
    font-family: sans-serif;
    font-size: 9em;
    font-weight: 900;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://img.freepik.com/fotos-premium/siluetas-palmeras-coco-sobre-fondo-cielo-mar-azul-al-atardecer_63726-105.jpg?w=1060);
    background-attachment: fixed;
    background-clip: text;
    background-position: center top;
    }
}


body{
    background-color: #F7F7F7;
}

section{
    height: 89vh;

}

.h-auto{
    height: auto;
}

.special-ofert{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    padding: 0 200px;
    

    h2{
        padding: 1rem 0rem;
        text-align: center;
        margin: 0;
        
    }
}
.sec-opin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
        position: absolute;
        padding: 20px;
        font-size: 50px;
        font-weight: 500;
        color: $color-atardecer;
        margin-bottom: 425px;
    }
}
.opinion{
    background-color: rgb(239, 239, 239);
    width: 98%;
    height: 95%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .messa{
        width: 45%;
        height: 60%;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 12px 1px rgba(178, 178, 178, 0.474);
        align-items: center;
        justify-content: center;
    
       .text-messa{
        font-size: 15px;
        font-weight: 400;
        width: 80%;
        text-align: center;
        position: relative;
        span{
            color: #007bff;
            font-size: 20px;
            font-weight: 500;

        }
       }
       .user{
        width: 100px;
        height: 100px;
        padding: 20px;
        background-color: #ffffff;
        box-sizing: content-box;
        border-radius: 45%;
        position: absolute;
        margin-top: 270px;
        box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.178);
       
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .star{
            background-color: white;
            border-radius: 20px;    
            display: flex;
            justify-content: center;
            align-items: center;       
            box-shadow: 0 0 14px rgba(213, 213, 213, 0.456);
            position: relative;
            width: 70px;
            left: 70px;
            bottom: 80px;
            span{
                i{
                    color: $color-amarillo;
                }
            }
        }

       }
    }
}
.card-section{
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 3rem;
}

.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    .p-title{
        position: absolute;

        h2{
            font-size: 325px;
            font-weight: 900;
            color: $color-atardecer;
            opacity: 0.5;

        }
       
    }
   
    .sect-phot{
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(1px);
        padding: 50px;
        gap: 1rem;
    }
}




@media(max-width:1000px){
    .sect-phot{
        flex-direction: column;
        width: 100vw;
    }

}



footer{
    padding: 0 130px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    position: absolute;
  }
  

  ::-webkit-scrollbar-track {
    background-color: #ff000000;
  }
  

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 50px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  /*=================Pagina de destinos===================*/

  
.header-destino{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
}



.destino-descrip-up{
    overflow: hidden;
    height: 88.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-direction: row-reverse;
}
.destino-descrip{
    width: 35%;
    h1{
        font-weight: 600;
        font-size: 44px;
        
    }
    p{
        text-align: justify;
    }
}
.imagen-destino{
    justify-content: center;
    align-items: start;
    img{
        width: 400px;
        margin-top: -150px;
    }
}
@media(max-width:700px){
    .imagen-destino{
        display: none;
    }
    .destino-descrip{
        width: 90%;
    }
}

.inform-destino{
    background-color: $background-oscuro;
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    h2{
        font-weight: 600;
        font-size: 35px;
        padding-top: 5rem;
    }
}

.card-section-destino{
    display: flex;
    gap: 2rem;
}

.clasificacion-destino{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff31;
    padding: 60px;
 
    .clasificacion-destino-sub{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
        h3{
            font-size: 40px;
            font-weight: 600;
            color: $color-atardecer;
        }
    }
}

.sec-1{
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.card-sec{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.content-eco{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eco-box{
    width: 90%;
    height: 70%;
}

/*=======Footer=======*/

footer{
    background-color: #3e87f51c;
  
}

.footer-bott{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #3E86F5;
    padding: 0 30px;
    color: white;
    p{
        font-size: 15px;
        font-family: monospace;
    }
    ul{
        list-style: none;
        margin: 0;
        li{
            transition: all 1s;
            &:hover{
                transform: translate(100px);
                transform: rotate(30deg);
            }
            a{
                margin-left: 20px;
              
                i{
                    font-size: 24px;
                    color: white;
                    transition: all 500ms;

                    &:hover{
                        box-shadow: 0, 0 ,0, 14px black;
                    }

                    
                }
            }
        }
    }
}

@media(max-width:1000px){
    .footer-bott{
        justify-content: center;
        overflow: hidden;
    
    ul{
        list-style: none;
        margin: 0;
        li{
            display: none;
            a{
                i{
                    display:none;
                }
            }
        }
    }
    }
}

.sec-map{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*=========================Galeria=================================*/
.header-galery2{
    height: 89vh;
    margin-top: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
.header-galery{
    width: 95%;
    height: 90%;
    position: relative;
    overflow: hidden;
    border-radius: 10px
}
    
   
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;;
        object-fit: cover;
    }
    .header-sec{
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #000000a6 , transparent 70%);
        position: absolute;
        padding: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 3em;
            font-weight: 600;
            background-position: center center;
            
              
        }
        h2{
            font-size: 1.5em;
            font-weight: 600;
            background-position: center center;
        }
        p{
            width: 50%;
            text-align: justify;
        }
    }
}


.content-gal2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    h2{
        text-align: center;
        width: 100%;
        font-weight: 700;
    }
    
}


/*=============Sobre nosotros==============*/

.header-about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
 
    h1{
        color: white;
        font-family: sans-serif;
        font-size: 9em;
        font-weight: 900;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-image: url(../assets/img/bahia-de-las-aguilas-pedernales.jpg);
        background-clip: text;
        background-position: center bottom;
    
    }
    p{
        font-size: 30px;
        font-weight: 700;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-image: url(../assets/img/bahia-de-las-aguilas-pedernales.jpg);
        background-clip: text;
        background-position: center bottom;
    }
}

.sec-about{
    display: flex;
    justify-content: center;
    height: 50vh;
    .content-about{
        width: 65%;
        display: flex;
        justify-content: space-between;
    }
}

.about-text{
    display: flex;
    flex-direction: column;

}

.title-about{
    font-weight: 700;
    font-size: 30px;
}

/*========Contactos========*/

.header-contact{
    height: 89vh;
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-contact-sub{
        width: 95%;
        height: 90%;
        background: linear-gradient(to right, $color-atardecer 10%, transparent 90%), url(../assets/img/Casa-bonita.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-size: 3em;
            font-weight: 600;
            color: white;
            background-position: center center;
        }
        #p{
            font-size: 30px;
            font-weight: 700;
            color: white;
        }
        p{
            width: 50%;
            color: white;
            text-align: justify;
        }
    }
}

.sec-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 3rem;;

    .content-c{
        width: 100%;
        height: 100vh;
        display: flex;

    
        
        div{
            width: 100%;
            border-radius: 10px;
        }
    }

 
}

.publicidad{
    width: 20%;
    height: 85vh;
    background-color: #004C79;
    border-radius: 10px;
    background-image: url(../assets/img/Todo\ menos\ salmon.png);
    background-size: 100% 100%;
    cursor: pointer;
}

#icon-1{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.316);
    transform: rotate(-20deg);
    transition: all 1000ms;
    &:hover{
        transform: rotate(360deg);
    }
}

#icon-2{
    position: absolute;
    top: 75%;
    left: 30%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.316);
    transition: all 1000ms;
    &:hover{
        animation: rotate 2s;
    }
}

#icon-3{
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.316);
    transition: all 100ms;
    
    &:hover{
        animation: muve 2s;
    }
}

@keyframes muve {
    10%{
        transform: rotate(20deg);
    }
    30%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(5deg);
    }
}

@keyframes rotate {
    0% {
      transform: rotateY(0deg)  translateY( 0px);
    }
    50%{
        transform: rotateY(-30deg) translateY(-20px);
    }
    100% {
      transform: rotateY(360deg) translate(0px);
    }
  }

/*================Formularios contactos===========*/

.cont-form{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    width: 100%;
    


    .paf-c{
        h2{
            font-weight: 700;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }

    .form-c{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        gap: 20px;

        .input{
            border: 1px solid #3E86F5d7;
            width: 50vw;
            padding: 10px;
            border-radius: 5px;
            transition: all 500ms;
            color: $color-azul;


        
        }

        .input::placeholder{
            color: $color-azul;
        }

        .input:focus{
            outline: none;
            border: 1px solid #ff722cd7;
            color: $color-azul;
        }

        textarea{
            @extend .input;
            height: 100px;
            resize: none
        }

        .button{
            width: 50vw;
        }
    }
}

.contac-sec{
    height: 120vh;
}

.content-c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 6rem;
    i{
        font-size: 50px;
        color: $color-azul;
    }

}

.content-p{
    text-align: center;
    width: 70%;
    h2{
        font-weight: 700;
        color: $color-azul;
    }
    p{
        text-align: justify;
    }
}

.form-contac{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    input{
        padding: 8px 20px;
        border-radius: 5px;
        border: 2px solid #3e87f5d7;
        width: 60%;
        color: $color-azul;
        &::placeholder{
            color: $color-azul;
        }
        &:focus{
            outline: none;
            border: 2px solid #3e87f5d7;
            color: $color-azul;
        }
        &:active{
            border: 2px solid #3e87f5d7;
            color: $color-azul;
            
        }
    }
    button{
        width: 10%;
    }
}

/*==============Actividades PAGES===========*/

.header-activities{
    height: 89vh;
    margin-top: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}